### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Java ###
# Compiled class files
*.class

# Log files
*.log

### Package Files (If you generate them) ###
*.jar
*.war
*.zip
*.tar.gz

### Maven (If you use it) ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

### Gradle (If you use it) ###
.gradle/
build/

### OS Specifics ###
.DS_Store
Thumbs.db

# User specific configuration
config.properties